<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <appSettings>
		<add key="MainWindowTopLeftX" value="2" />
		<add key="MainWindowTopLeftY" value="2" />
		<add key="MainWindowWidth" value="300" />
		<add key="MainWindowHeight" value="220" />

		<add key="LoggingConfiguration" value={LOG4NET.CONFIG} />

		<add key="SleepTime" value="10000" />
		
		<add key="IdleProcessList" value="ApplicationA|ApplicationB" />
		<add key="HighProcessList" value="ApplicationC|ApplicationD" />
	</appSettings>
</configuration>
