<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="MainWindowTopLeftX" value="2" />
        <add key="MainWindowTopLeftY" value="2" />
        <add key="MainWindowWidth" value="450" />
        <add key="MainWindowHeight" value="300" />
        <add key="ChildWindowTopLeftX" value="5" />
        <add key="ChildWindowTopLeftY" value="5" />
        <add key="MaxChildWindowRectWidth" value="1501" />
        <add key="MaxChildWindowRectHeight" value="793" />
        <add key="ChildWindowWidthBoost" value="14" />
        <add key="ChildWindowHeightBoost" value="32" />

        <add key="LoggingConfiguration" value={LOG4NET.CFG} />
    </appSettings>
</configuration>
