<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
 
  <appSettings>
    <add key="MainWindowTopLeftX" value="2" />
    <add key="MainWindowTopLeftY" value="2" />
    <add key="MainWindowWidth" value="400" />
    <add key="MainWindowHeight" value="217" />

    <add key="ChildWindowTopLeftX" value="2" />
    <add key="ChildWindowTopLeftY" value="2" />
    <add key="ChildWindowWidth" value="1500" />
    <add key="ChildWindowHeight" value="830" />

    <add key="LoggingConfiguration" value={LOG4NET.CONFIG} />

    <add key="OldDATFileDirectory" value={OLD} />
    <add key="NewDATFileDirectory" value={NEW} />
    
    <add key="SQLiteDatabaseFile" value={DATS.DB.SQLITE3} />
    <add key="SQLiteVersion" value="3" />

    <add key="CutOff" value="50" />

    <add key="MaxSourceNameLength" value="32" />
    <add key="MaxDirectoryNameLength" value="256" />
    <add key="MaxFileNameLength" value="256" />
  </appSettings>
</configuration>
