<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DesktopWidth" value="1920" />
    <add key="DesktopHeight" value="1080" />
    <add key="MainWindowTopLeftX" value="5" />
    <add key="MainWindowTopLeftY" value="5" />
    <add key="MaxWindowWidth" value="1850" />
    <add key="MaxWindowHeight" value="800" />
	<add key="BoostWindowHeightIfBiggerX" value="24" />
	<add key="BoostWindowHeightIfBiggerY" value="10" />
	<add key="LoggingConfiguration" value={LOG4NET.CFG} />
  </appSettings>
</configuration>
