<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="MainWindowTopLeftX" value="2" />
    <add key="MainWindowTopLeftY" value="2" />
    <add key="MainWindowWidth" value="970" />
    <add key="MainWindowHeight" value="340" />

    <add key="LoggingConfiguration" value="<LOG4NET FILE>" />
  </appSettings>
</configuration>
